/* Headers */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

/* Body */
body {
  font-family: 'Poppins', sans-serif;
}


ul {
  list-style-type: disc;
}

/* Post Date */
p.post-date {
  color: #333;
  font-size: 14px;
  font-weight: bold;
}
